.catalog{
    &__items{
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
    &__item{
        padding: 15px;
    }
    &__button{
        margin-right: 20px;
        width: 150px;
        cursor: pointer;
        font-size: 14px;
        font-weight: 600;
        color: #fff;
        cursor: pointer;
        height: 35px;
        text-align:center;
        border: none;
        background-size: 200% 50%;
        background-image: linear-gradient(to right, $blue, #5776f2fb, $lightgrey, #0112f9);
        
    
        border-radius: 50px;
        moz-transition: all .4s ease-in-out;
        -o-transition: all .4s ease-in-out;
        -webkit-transition: all .4s ease-in-out;
        transition: all .4s ease-in-out;


        
        
        &:hover{
            background-position: 100% 0;
            moz-transition: all .4s ease-in-out;
            -o-transition: all .4s ease-in-out;
            -webkit-transition: all .4s ease-in-out;
            transition: all .4s ease-in-out;
            
            
        }
    }
    &__active{
        background-color: $blue;
        color:#333333;
        box-shadow: 0 7px 15px 0 rgba(183, 156, 221, 0.803);
    }
    &__content{
        padding: 5px;
        margin-top: 30px;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
    }
}